body{
  font-family: arial;
}

.content-wrapper{
  margin: 0 auto;
  text-align: center;
}

header{
  width:auto;
}

header h1{
  color:mediumpurple;
  text-align: center;
  font-size: 3rem;
  font-family: serif;
  margin: 2rem 0 1rem 0;
}

.main-nav ul{
  list-style-type: none;
  overflow: hidden;
}

.main-nav li{
  float: left;
  border-right: 2px solid purple;
  width: 14.15%;
  background-color: mediumpurple;
}

.main-nav a{
  line-height: 2rem;
  display: block;
  color: white;
  text-decoration: none;
}