body{
  font-family: arial;
}

.content-wrapper{
  margin: 0 auto;
  text-align: center;
}

header{
  width:auto;
  
}

header h1{
  color:mediumpurple;
  text-align: center;
  font-size: 3rem;
  font-family: serif;
  margin: 2rem 0 1rem 0;
}